@import url("https://fonts.googleapis.com/css2?family=Hanalei&display=swap");

h1 {
  font-family: "Hanalei", cursive;
  color: #cf0bf1;
  text-align: center;
  font-size: 4em;
  letter-spacing: 0.6rem;
  margin: 20px;
}
