<div *ngIf="!started; else game" class="game">
    <button class="startGame"*ngIf="!started; else game" (click)="startGame()"> Start Game !</button>
</div>

<ng-template #game>
    <div class="game">
        <p>Temps restant : {{ timeLeft}}</p>
        <p>Score : {{ counter }}</p>
        <p class="word">{{ word }}</p>
    
        <div class="button">
            <button [disabled]="ended" (click)="yesButton()">Yes !</button>
            <button [disabled]="ended" (click)="noButton()">Oh no !</button>
        </div>
    
    </div>
    <div class="reset" *ngIf="ended">
        <button (click)="startGame()">Reset</button>
        <app-twitter [score]="counter"></app-twitter>
    </div>
</ng-template>  